@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
.hasib{
    padding: 10px;
    
}
.nav-item{
    margin: 5px;
}
.dropdown-menu{
    text-align: center;
    padding: 20px;
}
.nav-item a{
  font-family: 'Fuzzy Bubbles', cursive;
  color: black;
  border-radius: 20px;
}
.nav-item a:hover{
    background-color: wheat;
    color: blue;
  }
  .feather1{
    margin-top: 80px;
    text-align: center;
  
  }
  .feather1 h2 ,h4{
    font-family: 'Fuzzy Bubbles', cursive;
  }
.feather2{
    margin-left: 50px;
}
  .feather2 img{
    height: 420px;
    margin-top: 10px;
    border-radius: 80%;
 max-width: 100%;

 
  }
  .box-icon{
    margin-top: 50px;
  }
  .box-icon i{
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
  }
  .face:hover{

color: blue;
transition:1s;
transform:rotate(120deg) scale(1.3);
  }
  .you:hover{
    color: red;
    transition:1s;
    transform:rotate(120deg) scale(1.3);
      }
      .twi:hover{
        color: gold;
        transition:1s;
        transform:rotate(120deg) scale(1.3);
          }
          .lin:hover{
            color: red;
            transition:1s;
            transform:rotate(120deg) scale(1.3);
              }
              .about{
                text-align: center;
                margin-top: 30px;
                font-family: 'Fuzzy Bubbles', cursive;
              }
              .img2{
                    width: 100%;
                     height: 400px;
              }
              .img-bio{
                margin-top: 50px;
              }
              .img_bio2{
                margin-top: 50px;
                font-family: 'Fuzzy Bubbles', cursive;
              }
              .skill1{
                text-align: center;
                margin-top: 50px;
                font-family: 'Fuzzy Bubbles', cursive;
              }
              .ski_feather{
                margin-top: 50px;
              }
              .ski_feather ol li{

                 padding: 10px;
              }
              .prog{
                margin-left: 20px;
              
              }
              .html{
                color: blue;
                font-size: 30px;
                margin-top: 30px;
              }
              .html2{
                border: 2px solid black;
                width: 90px;
                transform: rotate(90deg);
                margin-top: 50px;
                margin-left: -30px;
              }
              .grou1{
                margin-top: -110px;
                margin-left: 50px;
              }
              .grou1 h3{
                font-weight: bolder;
              }
              #skill{
                background-color: beige;
                border-top-left-radius:100% ;
                border: 2px solid gray;
                margin-top: 30px;
               
              }
            
        .aa{
          width: 100%;
        }
       .form_feather{
        margin-top: 30px;
       }
       .form_feather label{
        width: 100%;
       }
     
     .my{
      text-align: center;
      color: antiquewhite;
      font-weight: bolder;
     }    
     .main{
     background-color: rosybrown;
     color: black;
     border-bottom-left-radius: 100%;
     }
     .contac{
      font-family: 'Fuzzy Bubbles', cursive;

     }
     .full{
      font-size: 30px;
      position:fixed;
     }
     #contack{
      margin-top: 30px;
      text-align: center;
      font-family: 'Fuzzy Bubbles', cursive;
    }
    .contac{
      text-align: center;
      margin-top: 20px;
    }
  .ff{
    max-width: 100%;
  }
  .con_fer ol li{
    padding: 20px;
  }
  .con_fer ol li a{
   color:black;
   text-decoration: none;
   font-weight: bold;
  }
  .con_fer2{
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
  }
  .con_fer{
    text-align: center;
  }
  .faceb{
    color: blue;
    font-size: 30px;
    margin-left: -50px;
  }
  .youtu{
    color: red;
    font-size: 30px;
    margin-left: -50px;
  }
  .what{
font-size: 30px;
    color: green;
    margin-left: -50px;

  }
  .twitt{
    font-size: 30px;
        color: red;
        margin-left: -50px;
    
      }
      .lindi{
        font-size: 30px;
        color:green;
        margin-left: -50px;
    
      }
      #fname{
        width: 100%;
      }
      #lname{
        width: 100%;
      }
      .foot{
       max-width: 100%;
      }
      #footer{
        margin-top: 50px;
      }
      .pot{
        text-align: center;
      }
      .lorem{
        text-align: center;
      }
      .box_cons i{
        text-align: center;
        margin-top: 50px;
margin-left: 20px; 
font-size: 20px; 
cursor: pointer;
color: blue;
transition: .3s;
font-size: 25px;
      }
      .box_cons i:hover{
        color: green;
        transform: scale(1.1);
      }
      .foo_con{
        text-align: center;
      }
      .box_cons{
        text-align: center;
      }
      .hasib{
        text-align: center;
      margin-left: 20px;
      }
      .skill{
        text-align: center;
        margin-left: 20px;
      }
      .skil_vi{
        text-align: center;
      }
     #footer{
      background-color: aqua;
      border-bottom-left-radius: 20%;
      border-top-right-radius: 20%;
      padding: 20px;
      margin-top: 20px;
     }
     .skil_vi ul li{
      list-style: none;
      padding: 15px;
     }
     .skil_vi ul li a{
      text-decoration: none;
      font-weight: bolder;
      color: black;
     }
     .navbar-brand{
      font-family: 'Fuzzy Bubbles', cursive;
     }